@model IEnumerable<WebPortal.Models.Ticket>

@{
    ViewBag.Title = "Tickets";
}

<h2>Tickets</h2>


<table class="table">
    <tr>
        <th>
            <div>
                Book Train Ticket <a class="btn-success" target="_blank" href="http://www.railway.gov.lk/web/index.php?option=com_content&view=article&id=61&Itemid=68&lang=en">Book Now</a>
            </div>
            <div>
                Book Bus Ticket <a class="btn-success" target="_blank" href="https://www.busbooking.lk/">Book Now</a>
            </div>
        </th>
    </tr>

</table>
