@model IEnumerable<WebPortal.Models.Ticket>

@{
    ViewBag.Title = "Tickets";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            <div>
                <a class="btn-success" target="_blank" href="http://www.railway.gov.lk/web/index.php?option=com_content&view=article&id=61&Itemid=68&lang=en">Book Train Ticket</a>
            </div>
            <div>
                <a class="btn-success" target="_blank" href="https://www.busbooking.lk/">Bus Booking</a>
            </div>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (System.Web.HttpContext.Current.User.Identity.Name == "admin@gmail.com")
            {
                @Html.ActionLink("Edit | ", "Edit", new { id = item.ID })
                @Html.ActionLink("Details | ", "Details", new { id = item.ID })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>
