@model IEnumerable<WebPortal.Models.Movie>

@*@foreach (var item in Model)
{
    <div style="float:left">

        <a href=@Url.Action("Details", new { id = item.ID })>
            <img src="~/movieimages/@item.Image" class="img-responsive img-thumbnail"
                 style="max-width:350px; min-width:350px; max-height:350px; min-height:350px; display:inline" /><br />
            <center>@Html.DisplayFor(modelItem => item.Title)</center>
        </a>
    </div>
}*@