@using WebPortal.Controllers;


    @foreach (var business in new BusinessesController().Passbusiness())
    {
        <div style="float:left; padding:6px;">

            <a href=@Url.Action("Details", "Movies", new { id = business.ID })>
                <img src="~/businessimages/@business.Image" class="img-responsive img-thumbnail"
                     style="max-width:215px; max-height:180px; min-width:210px; min-height:180px; display:inline" />
                <center>@Html.DisplayFor(modelItem => business.Name)</center>
            </a>
        </div>
        if (business.ID == 7)
        {
            break; // get out of the loop
        }
    }
