<!-- ko with: home -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://www.444.lk/images/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.444.lk/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://www.444.lk/images/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.444.lk/images/icon/favicon-16x16.png">
    <title>444 Sri Lanka | Business Directory | Events | Tickets</title>
    <meta name="keywords" content="Information, sri lanka, business directory, book events, book movie tickets, nearby places" />
    <meta name="description" content="One Stop App for all your Ticket Booking & Business Directory needs. DOWNLOAD TODAY! #ProudlySriLankan2" />
    <meta property="og:title" content="444 | Movies | Events | Buses | Search and Discover" />
    <meta property="og:description" content="One Stop App for all your Ticket Booking & Business Directory needs. DOWNLOAD TODAY! #ProudlySriLankan" />
    <meta property="og:type"   content="website" /> 
    <meta property="og:image"   content="" /> 
    <link href="https://www.444.lk/css/bootstrap.css" rel="stylesheet">
    <link href="https://www.444.lk/css/plugins.min.css" rel="stylesheet" />
    <link href="https://www.444.lk/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://www.444.lk/css/font-awesome.min.css">
    
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-7855875-76', 'auto');
            ga('send', 'pageview');
        </script>
        
    
	  <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '729621640477633');
      fbq('track', 'PageView');
	  </script>
	  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=729621640477633&ev=PageView&noscript=1" /></noscript>

    <script src="https://www.444.lk/js/jquery.min.js"></script>
    <script src="https://www.444.lk/js/select2.min.js"></script>
        <script type='text/javascript' src='https://www.444.lk/js/camera.min.js'></script> 
      </head>
    <body class="animated fadeIn cms-page-home">

<div class="loader-screen">
<div class="cssload-loader"></div>
</div>
<script type="text/javascript">
  $(window).load(function() {
    // Animate loader off screen
    $(".cssload-loader").fadeOut("slow");
    $(".loader-screen").fadeOut("slow");;
  });

</script>


<div class="mobile-download animated slideDown">

<button onclick="remove_banner();" class="btn btn-remove-app-slder"><i class="fa fa-close"></i></button>

  <div class="thumb-icon">
    <img src="https://www.444.lk/images/logo-app.png">
  </div>

  <div class="app-content">
   <!--  <h3 class="h3">FYI</h3> -->
    <p>A world of infotaintment awaits. <br> Download now!</p>

    <a id="url_down" class="btn uppercase" href="#">Free</a> 
  </div>
  
</div>

<script type="text/javascript">
function getMobileOperatingSystem() {
  var userAgent = navigator.userAgent || navigator.vendor || window.opera;

      // Windows Phone must come first because its UA also contains "Android"
    if (/windows phone/i.test(userAgent)) {
        return "Windows Phone";
    }

    if (/android/i.test(userAgent)) {
        $('#url_down').attr('href','https://play.google.com/store/apps/details?id=com.mostcloud.layoutindex');
    }

    // iOS detection from: http://stackoverflow.com/a/9039885/177710
    if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
        $('#url_down').attr('href','https://itunes.apple.com/lk/app/fyi-sri-lanka/id664573067?mt=8');
    }

    return "unknown";
}

function remove_banner(){

  $('.mobile-download').slideUp();
}


getMobileOperatingSystem();


</script>
  <header class="home-header">


<div class="home-bg-img"></div>

   



<div class="camera_wrap" id="camera_wrap_1">
            



		 <!--banner 2--> 
    <div  data-src="https://www.444.lk/images/banners/Thor_358.jpg">

    

          <div class="animated fadeIn  home-banner-content">
       <a href="https://www.444.lk/movies/availability/DOOqRVvXLwYZ-V5BJE5FrLQt2kl9sooATvI8tbS2tdU">  <h1 class="ruda animated fadeIn "> BOOK YOUR<br>TICKETS<br>NOW </h1></a> 
          <p>THOR

Thor must fight for survival and race against time to prevent the all-powerful Hela from destroying his home and the Asgardian civilization.</p>
        <ul class="download-icons">
          <li class="bounce animated"><a href="https://itunes.apple.com/lk/app/fyi-sri-lanka/id664573067?mt=8" target="_blank" onclick="scroll_down();"><img src="https://www.444.lk/images/down-apple.png"></a></li>
          <li class="bounce animated"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.mostcloud.layoutindex" onclick="scroll_down();"><img src="https://www.444.lk/images/down-google.png"></a></li>
        </ul>
      </div>
    
           </div>




		 <!--banner 2--> 
    <div  data-src="https://www.444.lk/images/banners/MOS1021.jpg">

    

          <div class="animated fadeIn  home-banner-content">
       <a href="https://www.444.lk/concerts/show/fUYYKB-Nc2J67Bh_tCUVbufrmfQzhRsC19ujmJuzzJY">  <h1 class="ruda animated fadeIn "> Ministry <br>Of <br>Sound </h1></a> 
          <p>.<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br></p>
        <ul class="download-icons">
          <li class="bounce animated"><a href="https://itunes.apple.com/lk/app/fyi-sri-lanka/id664573067?mt=8" target="_blank" onclick="scroll_down();"><img src="https://www.444.lk/images/down-apple.png"></a></li>
          <li class="bounce animated"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.mostcloud.layoutindex" onclick="scroll_down();"><img src="https://www.444.lk/images/down-google.png"></a></li>
        </ul>
      </div>
    
           </div>




		 <!--banner 2--> 
    <div  data-src="https://www.444.lk/images/banners/JL4041.jpg">

    

          <div class="animated fadeIn  home-banner-content">
       <a href="https://www.444.lk/movies/availability/80TwgDsuEUlMQT4tIhoYVJP_XXJDYIRfpXYcHpSYsAQ">  <h1 class="ruda animated fadeIn "> BOOK YOUR<br>TICKETS<br>NOW </h1></a> 
          <p>JUSTICE LEAGUE

Fueled by his restored faith in humanity and inspired by Superman's selfless act, Bruce Wayne enlists newfound ally Diana Prince to face an even greater threat.</p>
        <ul class="download-icons">
          <li class="bounce animated"><a href="https://itunes.apple.com/lk/app/fyi-sri-lanka/id664573067?mt=8" target="_blank" onclick="scroll_down();"><img src="https://www.444.lk/images/down-apple.png"></a></li>
          <li class="bounce animated"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.mostcloud.layoutindex" onclick="scroll_down();"><img src="https://www.444.lk/images/down-google.png"></a></li>
        </ul>
      </div>
    
           </div>




		 <!--banner 2--> 
    <div  data-src="https://www.444.lk/images/banners/ar1114.jpg">

    

          <div class="animated fadeIn  home-banner-content">
       <a href="https://www.444.lk/concerts/show/MJRSULPERl5MzwIZM7lVL91kf4ctc6rPCq1Nub39mX4">  <h1 class="ruda animated fadeIn "> BOOK YOUR<br>TICKETS<br>NOW </h1></a> 
          <p>Time Magazine has referred to him as the "Mozart of Madras" and several Tamil commentators have coined him the nickname Isai Puyal ( English: Music Storm). He is A.R Rahman.
<br>
<br>
<br>
<br>
<br>.</p>
        <ul class="download-icons">
          <li class="bounce animated"><a href="https://itunes.apple.com/lk/app/fyi-sri-lanka/id664573067?mt=8" target="_blank" onclick="scroll_down();"><img src="https://www.444.lk/images/down-apple.png"></a></li>
          <li class="bounce animated"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.mostcloud.layoutindex" onclick="scroll_down();"><img src="https://www.444.lk/images/down-google.png"></a></li>
        </ul>
      </div>
    
           </div>




		 <!--banner 2--> 
    <div  data-src="https://www.444.lk/images/banners/jennifer-lopez-performs-live-at-the-meydan-racecourse-in-dubai-march-2014_4.jpg">

    

          <div class="animated fadeIn  home-banner-content">
       <a href="https://www.444.lk/concerts/show/PyzrYy8PWRVNghMpObnfuVRDLvVZEWqSurSM60jKnKQ">  <h1 class="ruda animated fadeIn "> BOOK YOUR<br>TICKETS<br>NOW </h1></a> 
          <p>JLO LIVE IN DUBAI:

"She’s Back! Global Superstar Jennifer Lopez to Perform in Dubai this November. The rumours are true… global pop superstar Jennifer Lopez will perform LIVE on 17th November 2017 at The Autism Rocks Arena, Dubai.</p>
        <ul class="download-icons">
          <li class="bounce animated"><a href="https://itunes.apple.com/lk/app/fyi-sri-lanka/id664573067?mt=8" target="_blank" onclick="scroll_down();"><img src="https://www.444.lk/images/down-apple.png"></a></li>
          <li class="bounce animated"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.mostcloud.layoutindex" onclick="scroll_down();"><img src="https://www.444.lk/images/down-google.png"></a></li>
        </ul>
      </div>
    
           </div>




		 <!--banner 2--> 
    <div  data-src="https://www.444.lk/images/banners/1041.jpg">

        <div class="animated fadeIn full-banner-with-click home-banner-content">
      <a class="bannerFullclick" href="https://www.genie.lk/"></a>
    </div>
    

        </div>



	
    

</div><!-- #camera_wrap_1 -->

<!--END of camera_wrap-->


      <div class="top-header">
        <div class="container-fluid">
          
          <div class="animated fadeIn logo">
            <a href="https://www.444.lk/">
            <img src="https://www.444.lk/images/logo444.png" alt="444 Logo">
            </a>
          </div>
           <!--<div class="animated fadeIn logo-444">
            <a href="https://www.444.lk/">
            <img src="https://www.444.lk/images/logo444.jpg" alt="444 Logo">
            </a>
          </div>-->


           <div id="o-wrapper" class="o-wrapper">
              <div class="o-container">
                   <div class="c-buttons">
                     <button type="button" class="navbar-toggle c-button" id="c-button--push-right">
                     <i class="fa fa-bars" aria-hidden="true"></i> 
                      </button>
                  </div>
              </div>
          </div>

          <div class="search-box-top">
            <h4 class="h3 uppercase">Search & Discover</h4>
            <div class="form-group has-warning">
            <form action="https://www.444.lk/find-business" class="ui-form is-inline" method="GET"> 
              <input type="text" class="form-control form-control-warning" name="search" placeholder="Find anything (by name or location)" id="inputWarning1">
              <button class="search-btn btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </div>
          </div>

            
<div id="menu" class="navbar-collapse">
	<nav class="nav pull-right animated nav-masthead"> <a class="nav-link active" href="https://www.444.lk/">Home</a> 

		
		<!-- 		<a class="nav-link " href="https://www.444.lk/business-categories">Business Category</a> -->
		
				<a class="nav-link " href="https://www.444.lk/concerts">Events</a>
		<a class="nav-link " href="https://www.444.lk/movies">Movies</a>
		<a class="nav-link " href="https://www.444.lk/find-business">Find Business</a> 
				<li class="login-dropdown dropdown"> <a class="primary-button" class="dropdown-toggle" data-toggle="dropdown"> Login </a>
			<ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
				<li>
					<div class="row">
						<div class="col-md-12"> <form action="https://www.444.lk/login" id="login-nav" class="form" method="post" accept-charset="utf-8">
							<div class="form-group">
								<label class="sr-only" for="inputPhone2">Mobile Number</label>
								<input type="text" class="form-control" autocomplete="off" name="username" id="inputPhone2" placeholder="Mobile Number" required>
							</div>
							<div class="form-group">
								<label class="sr-only" for="inputPassword2">Password</label>
								<input type="password" class="form-control" autocomplete="off" name="password" id="inputPassword2" placeholder="Password" required>
							</div>
							<div class="pull-right">
								<label> <a class="fg" href="https://www.444.lk/forget-password">Forgot Password?</a> </label>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-success btn-block">Login</button>
								<a class="btn btn-primary btn-block" href="https://www.facebook.com/v2.7/dialog/oauth?client_id=1913256038891533&state=8b19531e2d419bdcf5e044d23251e83a&response_type=code&sdk=php-sdk-5.0.0&redirect_uri=https%3A%2F%2Fwww.444.lk%2Ffblogin&scope=email" id="sign-in-google" value="Sign In with Facebook"><i class="fa fa-facebook" aria-hidden="true"></i>
								<p>Sign In with Facebook</p>
								</a>
								<p class="up">Don't have an account yet? <a href="https://www.444.lk/sign-up">Sign Up</a></p>
							</div>
							</form>
						</div>
					</div>
				</li>
				<li> </li>
			</ul>
		</li>
			</nav>
</div>
<nav id="c-menu--push-right" class="c-menu c-menu--push-right">
	<button class="c-menu__close">Close Menu &rarr;</button>
	<ul class="c-menu__items">
		<li class="c-menu__item"> <a class="c-menu__link active" href="https://www.444.lk/">Home</a> </li>
		<li class="c-menu__item"> <a class="c-menu__link" href="https://www.444.lk/find-business">Find Business</a> </li>
		<!-- <li class="c-menu__item"> <a class="c-menu__link" href="">Business Category</a> </li> -->
				<li class="c-menu__item"><a class="c-menu__link" href="https://www.444.lk/concerts">Events</a> </li>
		<li class="c-menu__item"><a class="c-menu__link" href="https://www.444.lk/movies">Movies</a> </li>
				<li class="c-menu__item"><a class="c-menu__link" href="https://www.444.lk/login">Login</a> </li>
				<li class="c-menu__item"><a href="https://www.444.lk/contact-us" class="c-menu__link">Contact</a></li>
	</ul>
</nav>
<!-- /c-menu push-right --> 

            <div id="c-mask" class="c-mask"></div><!-- /c-mask -->

        </div>
       
      </div>
      <!--END OF top-header-->
      

      <style>
.bannerFullclick {

  display:block;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:999999;
}
      </style> 
 
    </header>


<script type="text/javascript">


function scroll_down(){
 
  //alert();
  $('html, body').animate({
        scrollTop: $(".download-app-bottom").offset().top
    }, 4000);

}
  
</script>


<div class="clearfix"></div>

<div class="desktop-only home-banner-bottom-ops">


<div id="myCarousel" class="carousel slide home-carousel-slider" data-ride="carousel">

<ul class="carousel-indicators nav-home-slider">

    <li data-target="#myCarousel" data-slide-to="0" class="active">
        <a>
            <h5 class="h3"> Book Your <br> Bus</h5>

            <svg class="icon-set1 animated fadeIn" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                 viewBox="0 0 552.506 552.506" style="enable-background:new 0 0 552.506 552.506;" xml:space="preserve">
<g>
    <path
        d="M103.918,334.136c-23.793,0-43.172,19.376-43.172,43.185s19.373,43.173,43.172,43.173   c23.817,0,43.172-19.364,43.172-43.173C147.09,353.524,127.742,334.136,103.918,334.136z M103.918,404.454   c-14.952,0-27.125-12.179-27.125-27.134c0-14.954,12.167-27.133,27.125-27.133c14.964,0,27.136,12.166,27.136,27.133   C131.054,392.275,118.888,404.454,103.918,404.454z M450.189,334.136c-23.809,0-43.178,19.376-43.178,43.185   s19.363,43.173,43.178,43.173s43.172-19.364,43.172-43.173C493.355,353.524,473.992,334.136,450.189,334.136z M450.189,404.454   c-14.961,0-27.139-12.179-27.139-27.134c0-14.954,12.166-27.133,27.139-27.133c14.949,0,27.127,12.166,27.127,27.133   C477.305,392.275,465.139,404.454,450.189,404.454z M536.461,320.776h16.033V177.858c0-25.325-20.521-45.846-45.84-45.846H45.842   C20.508,132.013,0,152.533,0,177.858v162.008c0,25.337,20.508,45.857,45.842,45.857h11.959c-0.292-2.137-0.487-4.293-0.487-6.503   c0-26.585,21.556-48.147,48.144-48.147c26.588,0,48.144,21.562,48.144,48.147c0,2.21-0.207,4.366-0.487,6.503h250.857   c-0.292-2.137-0.486-4.293-0.486-6.503c0-26.585,21.555-48.147,48.158-48.147c26.586,0,48.129,21.562,48.129,48.147   c0,2.21-0.194,4.366-0.486,6.503h53.219v-19.107h-16.039c-2.533,0-4.591-2.053-4.591-4.579v-36.682   C531.863,322.816,533.922,320.776,536.461,320.776z M305.664,155.706V265.74h-84.049V155.706H305.664z M89.401,265.74H72.586   c-38.584,0-37.811-22.914-37.811-25.441v-80.011c0-2.53,2.046-4.582,4.576-4.582h50.05h38.97V265.74H89.401z M132.957,265.74   V155.706h84.063V265.74H132.957z M402.725,265.74h-92.482V155.706h92.482V265.74z M443.596,261.151   c0,2.542-2.059,4.589-4.573,4.589h-32.011V155.706h32.011c2.515,0,4.573,2.052,4.573,4.582V261.151z M525.805,290.964   c0,0-20.6,1.869-42.983-3.27c-22.371-5.133-25.465-25.383-25.465-25.383v-83.385v-23.602h44.841   c13.031,0,23.602,10.568,23.602,23.602v112.037H525.805z"/>
</g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
</svg>
            <img class="animated fadeInDown arrow-down" src="https://www.444.lk/images/arrow-down.png">
        </a>
    </li>
    <li data-target="#myCarousel" data-slide-to="1">
        <a>
            <h5 class="h3"> Book Your <br> Event </h5>


            <svg class="icon-set1 animated fadeIn" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                 viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
<g>
    <path
        d="M57,4h-7V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H19V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H3   C2.447,4,2,4.447,2,5v11v43c0,0.553,0.447,1,1,1h54c0.553,0,1-0.447,1-1V16V5C58,4.447,57.553,4,57,4z M43,2h5v3v3h-5V5V2z M12,2h5   v3v3h-5V5V2z M4,6h6v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h22v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h6v9H4V6z    M4,58V17h52v41H4z"/>
    <path
        d="M38,23h-7h-2h-7h-2h-9v9v2v7v2v9h9h2h7h2h7h2h9v-9v-2v-7v-2v-9h-9H38z M31,25h7v7h-7V25z M38,41h-7v-7h7V41z M22,34h7v7h-7   V34z M22,25h7v7h-7V25z M13,25h7v7h-7V25z M13,34h7v7h-7V34z M20,50h-7v-7h7V50z M29,50h-7v-7h7V50z M38,50h-7v-7h7V50z M47,50h-7   v-7h7V50z M47,41h-7v-7h7V41z M47,25v7h-7v-7H47z"/>
</g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
</svg>


            <img class="animated fadeInDown arrow-down" src="https://www.444.lk/images/arrow-down.png">


        </a>
    </li>
    <li data-target="#myCarousel" data-slide-to="2">
        <a>
            <h5 class="h3"> Book Your <br> Movie
                <small></small>
            </h5>

            <svg version="1.1" class="icon-set1 animated fadeIn" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000"
                 enable-background="new 0 0 1000 1000" xml:space="preserve">
<g>
    <path
        d="M974.5,587.8c-7.8-4.2-17.2-4.1-24.9,0.5l-167.7,77.4v-44c0-10.2-2.1-20-5.9-28.8c122.3-26.6,214-135.3,214-265.6c0-150.2-121.8-272-272-272c-116,0-214.8,72.8-253.9,175.1c-42.6-71.6-120.5-119.7-209.9-119.7C119.4,110.7,10,220,10,355c0,89.3,48,167.1,119.5,209.7c-16.9,13.6-27.9,34-27.9,57.1v248.9c0,40.8,33.8,74,75.3,74h529.7c41.5,0,75.3-33.2,75.3-74v-13.8l167.7,77.4c7.6,4.6,17.1,4.8,24.9,0.5c7.8-4.3,12.6-12.3,12.6-21.1V609C987.1,600.2,982.3,592.1,974.5,587.8z M250.9,547.7c-31.3-1.5-56.3-27.2-56.1-58.9c0.1-32.5,26.7-78.8,59.2-78.6c32.5,0.1,58.7,46.6,58.6,79.1c-0.1,31.6-25.2,57.1-56.4,58.4H250.9z M717.1,542.2c-36.2-0.1-65.5-29.7-65.3-65.9c0.1-36.2,29.7-87.7,66-87.5c36.2,0.2,65.4,51.8,65.3,88.1C782.9,513.1,753.4,542.3,717.1,542.2z M867.6,262.3c36.2,0.1,65.5,29.6,65.4,65.9c-0.2,36.2-29.7,65.5-65.9,65.3c-36.2-0.2-87.7-30-87.5-66.2C779.7,291.1,831.4,262.2,867.6,262.3z M718.9,112.4c36.2,0.1,65.5,29.6,65.3,65.9c-0.2,36.2-29.6,85.1-65.9,84.9c-36.2-0.2-65.5-49.2-65.4-85.5C653.2,141.5,682.7,112.2,718.9,112.4z M569,261c36.2,0.2,87.8,30,87.7,66.2c-0.2,36.3-52,65.1-88.2,65c-36.2-0.2-65.5-29.6-65.3-65.9C503.3,290.2,532.8,260.9,569,261z M559.2,547.7H404c31.6-24.6,57-56.7,73.5-93.8C497.1,491.2,525.3,523.2,559.2,547.7z M388.6,296.6c32.5,0.1,58.8,26.6,58.7,59.2c-0.1,32.5-26.7,58.8-59.2,58.7c-32.5-0.1-78.8-26.9-78.6-59.5C309.6,322.4,356.1,296.5,388.6,296.6z M255.1,161.9c32.5,0.1,58.8,26.6,58.7,59.2c-0.1,32.5-26.6,76.4-59.2,76.3c-32.5-0.1-58.8-44.2-58.7-76.8C196,188.1,222.5,161.8,255.1,161.9z M61.3,354.2c0.1-32.5,26.6-58.8,59.2-58.7c32.5,0.2,78.9,26.9,78.7,59.5c-0.1,32.6-46.7,58.5-79.3,58.4C87.4,413.2,61.1,386.7,61.3,354.2z"/>
</g>
</svg>
            <img class="animated fadeInDown arrow-down" src="https://www.444.lk/images/arrow-down.png">
        </a>
    </li>
    <li data-target="#myCarousel" data-slide-to="3">
        <a>
            <h5 class="h3"> What’s <br> Nearby</h5>
            <svg class="icon-set1 animated fadeIn" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000"
                 enable-background="new 0 0 1000 1000" xml:space="preserve">
<g>
    <path
        d="M500,990c-170.5,0-342.5-46.2-342.5-149.5c0-80.6,117.8-130.7,227.3-143l6-0.7L239.5,454.5c-4.9-8.7-9.5-18-13.5-27.4l-4-8.1l-0.6-3.2c-13.3-34.4-20-70.5-20-107.1C201.3,144,335.3,10,500,10s298.7,134,298.7,298.7c0,36.7-6.8,72.7-20.1,107.1l-2,5.2h0.2l-1.5,3.2c-4.4,10.3-9.2,20.1-14.4,29.5l-261,433.2l-61.8-101l-2.3,0.2c-100.1,8.6-164,36.2-180.8,51.6l-3,2.8l3,2.8c21.8,20.3,105.9,52.4,239,53.3l11.9,0l0,0c132.9-0.9,217.1-33,239.1-53.2l3.1-2.9l-3.2-2.8c-12.2-10.8-56.8-32.2-125.3-44.7l52.6-84.2c109.8,24.7,170.2,71.4,170.2,131.7C842.5,943.8,670.5,990,500,990z M500,147.6c-70.2,0-127.3,57.2-127.3,127.4c0,70.2,57.1,127.3,127.3,127.3c70.3,0,127.4-57.1,127.4-127.3C627.4,204.7,570.2,147.6,500,147.6z"/>
</g>
</svg>
            <img class="animated fadeInDown arrow-down" src="https://www.444.lk/images/arrow-down.png">
        </a>
    </li>
    <li data-target="#myCarousel" data-slide-to="4">
        <a>
            <h5 class="h3"> Search & Discovery
                <small></small>
            </h5>
            <svg class="icon-set1" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
    <g>
        <g>
            <path d="M512,227.2v-24.533c0-0.382-0.021-0.758-0.062-1.131c-0.007-0.067-0.022-0.132-0.03-0.199
        c-0.038-0.308-0.084-0.614-0.149-0.913c-0.017-0.079-0.042-0.155-0.06-0.234c-0.068-0.286-0.143-0.567-0.234-0.844
        c-0.03-0.093-0.067-0.183-0.101-0.275c-0.092-0.255-0.188-0.507-0.298-0.752c-0.016-0.036-0.027-0.075-0.044-0.111
        L462.932,93.664V53.331c0-5.89-4.776-10.667-10.667-10.667H59.735c-5.891,0-10.667,4.777-10.667,10.667v40.334L0.976,198.208
        c-0.017,0.036-0.028,0.075-0.044,0.111c-0.111,0.245-0.206,0.497-0.298,0.752c-0.033,0.092-0.07,0.182-0.101,0.275
        c-0.091,0.276-0.164,0.558-0.233,0.844c-0.019,0.078-0.044,0.155-0.061,0.234c-0.065,0.299-0.111,0.605-0.149,0.913
        c-0.008,0.067-0.022,0.132-0.03,0.199C0.021,201.908,0,202.285,0,202.666V227.2c0,29.295,21.204,53.714,49.068,58.761v162.041
        H10.667C4.776,448.002,0,452.777,0,458.669c0,5.89,4.776,10.667,10.667,10.667h49.068h42.665h85.335h264.532h49.067
        c5.891,0,10.667-4.777,10.667-10.667c0-5.891-4.775-10.667-10.667-10.667h-38.4V285.961C490.796,280.914,512,256.495,512,227.2z
         M484.686,192h-73.365l-23.553-85.332h57.664L484.686,192z M315.688,201.689l-8.742-95.021h58.691L389.19,192h-39.967
        c-5.89,0-10.667,4.775-10.667,10.667s4.777,10.667,10.667,10.667h43.31V227.2c0,21.174-17.226,38.4-38.4,38.4
        s-38.4-17.226-38.4-38.4v-24.533C315.732,202.34,315.718,202.014,315.688,201.689z M70.401,63.998H441.6v21.335H70.401V63.998z
         M257.435,192h-38.811l7.851-85.332h59.048l8.877,96.488V227.2c0,21.174-17.227,38.4-38.401,38.4s-38.4-17.226-38.4-38.4v-13.867
        h39.837c5.891,0,10.667-4.775,10.667-10.667S263.326,192,257.435,192z M189.553,213.333h6.711V227.2
        c0,21.174-17.226,38.4-38.4,38.4s-38.4-17.226-38.4-38.4v-23.088l26.895-97.444h58.691L197.201,192h-7.648
        c-5.89,0-10.667,4.775-10.667,10.667S183.663,213.333,189.553,213.333z M21.333,227.2v-13.867h28.874
        c5.89,0,10.667-4.775,10.667-10.667S56.097,192,50.207,192H27.314l39.255-85.332h57.659l-25.712,93.16
        c-0.255,0.925-0.384,1.879-0.384,2.838V227.2c0,21.174-17.224,38.4-38.396,38.4C38.56,265.6,21.333,248.374,21.333,227.2z
         M177.067,378.667h-10.666c-5.891,0-10.667,4.777-10.667,10.667c0,5.891,4.776,10.667,10.667,10.667h10.666v48.001h-64.001
        V330.664h64.001V378.667z M441.6,448.002H198.401V319.997c0-5.89-4.777-10.667-10.667-10.667h-85.335
        c-5.891,0-10.667,4.777-10.667,10.667v128.005H70.401V285.961c15.848-2.87,29.535-12.006,38.396-24.751
        c10.798,15.531,28.76,25.724,49.067,25.724c20.307,0,38.269-10.194,49.067-25.725c10.798,15.532,28.76,25.725,49.067,25.725
        c20.307,0,38.27-10.194,49.068-25.725c10.798,15.532,28.76,25.725,49.067,25.725c20.307,0,38.269-10.194,49.067-25.725
        c8.862,12.746,22.55,21.883,38.4,24.752V448.002z M452.266,265.6c-21.174,0-38.4-17.226-38.4-38.4v-13.867h76.8V227.2
        C490.667,248.374,473.441,265.6,452.266,265.6z"/>
            <path d="M409.597,309.333H230.403c-5.89,0-10.667,4.777-10.667,10.667v96.001c0,5.89,4.776,10.664,10.667,10.664h179.194
        c5.89,0,10.667-4.776,10.667-10.667v-95.996c0-0.354-0.019-0.708-0.053-1.06c-0.015-0.146-0.043-0.286-0.063-0.43
        c-0.028-0.201-0.052-0.402-0.092-0.602c-0.033-0.17-0.08-0.334-0.122-0.499c-0.043-0.172-0.08-0.343-0.132-0.513
        c-0.049-0.163-0.111-0.322-0.169-0.482c-0.06-0.167-0.115-0.337-0.185-0.503c-0.062-0.148-0.133-0.29-0.202-0.435
        c-0.079-0.171-0.156-0.343-0.245-0.511c-0.073-0.137-0.156-0.266-0.236-0.398c-0.098-0.166-0.193-0.335-0.301-0.498
        c-0.096-0.142-0.202-0.275-0.304-0.413c-0.106-0.142-0.204-0.286-0.318-0.424c-0.19-0.232-0.393-0.45-0.601-0.665
        c-0.035-0.036-0.066-0.077-0.102-0.113c-0.034-0.034-0.071-0.063-0.108-0.097c-0.217-0.21-0.438-0.416-0.672-0.607
        c-0.133-0.109-0.273-0.204-0.41-0.306c-0.143-0.107-0.282-0.217-0.429-0.316c-0.157-0.106-0.321-0.196-0.481-0.291
        c-0.139-0.082-0.273-0.169-0.415-0.244c-0.162-0.087-0.331-0.161-0.497-0.24c-0.149-0.07-0.295-0.145-0.449-0.208
        c-0.161-0.067-0.326-0.121-0.49-0.179c-0.164-0.06-0.328-0.123-0.496-0.174c-0.163-0.049-0.331-0.085-0.495-0.127
        c-0.173-0.043-0.342-0.092-0.517-0.126c-0.191-0.037-0.382-0.061-0.573-0.087c-0.155-0.022-0.304-0.051-0.46-0.067
        C410.3,309.352,409.949,309.333,409.597,309.333z M241.069,405.332v-74.668h0.001h82.437l-4.582,4.582
        c-4.165,4.165-4.165,10.919,0,15.086c2.083,2.082,4.813,3.124,7.542,3.124c2.731,0,5.459-1.042,7.542-3.125l19.667-19.667h30.17
        l-74.666,74.668H241.069z M398.931,405.332H339.35l59.581-59.582V405.332z"/>
            <path d="M294.162,360.006l-4.643,4.643c-4.165,4.166-4.165,10.919,0.001,15.086c2.082,2.082,4.812,3.124,7.541,3.124
        s5.46-1.042,7.542-3.125l4.644-4.643c4.165-4.166,4.165-10.919-0.001-15.086C305.083,355.839,298.328,355.84,294.162,360.006z"/>
        </g>
    </g>
</g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
</svg>

            <img class="animated fadeInDown arrow-down" src="https://www.444.lk/images/arrow-down.png">
        </a>
    </li>
</ul>

     <div class="container-max">
<div class="carousel-inner" role="listbox">
       

        <div class="item animated fadeIn  active">
       



     

                    <div class="row">
                       <div class="col-md-4 col-xs-12">
                        <div class="left-box">
                          <h2  class="h1">Book Your Bus</h1>
                          <p>Going out of town? Make real-time ticket bookings for luxury, semi luxury and other buses at the lowest prices and best offers.</p>
                          
                        </div>
                    </div>

                    <div class="col-md-8 col-xs-12">
                      <div class="mobile-carousel">
                      <img src="https://www.444.lk/images/mobiel-frame.png"> 
                    
                        <div class="mobile-item"  data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>


                        <img  src='images/screens/bus-book1.png'><img src='images/screens/bus-book2.png'><img src='images/screens/bus-book3.png'>
                        </div>

                      
                    
                    </div> 
                      <div class="left-side-content">
                          <h2 class="h1"> <strong> less</strong> missing out,  <strong>more</strong>  going out.
 </h2>
                                    <!--   <a class="btn btn-curve btn-lg btn-success" href="https://www.444.lk/book-your-bus" role="button"> <p>View More </p> <span class="btn-icon"><i class="fa fa-play" aria-hidden="true"></i></span>
</a> -->

                        </div>

                    </div>

                    </div><!-- row -->
                   
          </div>



        
        <div class="item animated fadeIn ">
       



     

                    <div class="row">
                       <div class="col-md-4 col-xs-12">
                        <div class="left-box">
                          <h2  class="h1">Book Your Event</h1>
                          <p>All your entertainment needs under one virtual roof with tickets for theatre, concerts, sports, family events, parties and more.</p>
                          
                        </div>
                    </div>

                    <div class="col-md-8 col-xs-12">
                      <div class="mobile-carousel">
                      <img src="https://www.444.lk/images/mobiel-frame.png"> 
                    
                        <div class="mobile-item"  data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>


                        <img  src='images/screens/concerts.jpg'><img src='images/screens/concerts2.jpg'><img src='images/screens/concerts3.jpg'>
                        </div>

                      
                    
                    </div> 
                      <div class="left-side-content">
                          <h2 class="h1"> <strong> less</strong> missing out,  <strong>more</strong>  going out.
 </h2>
                                    <!--   <a class="btn btn-curve btn-lg btn-success" href="https://www.444.lk/book-your-event" role="button"> <p>View More </p> <span class="btn-icon"><i class="fa fa-play" aria-hidden="true"></i></span>
</a> -->

                        </div>

                    </div>

                    </div><!-- row -->
                   
          </div>



        
        <div class="item animated fadeIn ">
       



     

                    <div class="row">
                       <div class="col-md-4 col-xs-12">
                        <div class="left-box">
                          <h2  class="h1">Book Your Movie </h1>
                          <p>A flawless and quick movie ticket booking experience which lets you choose from a list of the latest movies playing at Cinemas Island-wide. Your one stop movie destination.</p>
                          
                        </div>
                    </div>

                    <div class="col-md-8 col-xs-12">
                      <div class="mobile-carousel">
                      <img src="https://www.444.lk/images/mobiel-frame.png"> 
                    
                        <div class="mobile-item"  data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>


                        <img  src='images/screens/movies.png'><img src='images/screens/movies2.png'><img src='images/screens/movies3.png'>
                        </div>

                      
                    
                    </div> 
                      <div class="left-side-content">
                          <h2 class="h1"> <strong> less</strong> missing out,  <strong>more</strong>  going out.
 </h2>
                                    <!--   <a class="btn btn-curve btn-lg btn-success" href="https://www.444.lk/book-your-movie" role="button"> <p>View More </p> <span class="btn-icon"><i class="fa fa-play" aria-hidden="true"></i></span>
</a> -->

                        </div>

                    </div>

                    </div><!-- row -->
                   
          </div>



        
        <div class="item animated fadeIn ">
       



     

                    <div class="row">
                       <div class="col-md-4 col-xs-12">
                        <div class="left-box">
                          <h2  class="h1">What's Nearby</h1>
                          <p>Find businesses around you with our interactive Nearby function. Simply type in what you’re looking for and we will locate businesses within a 10 KM radius.</p>
                          
                        </div>
                    </div>

                    <div class="col-md-8 col-xs-12">
                      <div class="mobile-carousel">
                      <img src="https://www.444.lk/images/mobiel-frame.png"> 
                    
                        <div class="mobile-item"  data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>


                        <img  src='images/screens/nearby.png'><img src='images/screens/nearby1.jpg'><img src='images/screens/nearby2.jpg'>
                        </div>

                      
                    
                    </div> 
                      <div class="left-side-content">
                          <h2 class="h1"> <strong> less</strong> missing out,  <strong>more</strong>  going out.
 </h2>
                                    <!--   <a class="btn btn-curve btn-lg btn-success" href="https://www.444.lk/what-s-nearby" role="button"> <p>View More </p> <span class="btn-icon"><i class="fa fa-play" aria-hidden="true"></i></span>
</a> -->

                        </div>

                    </div>

                    </div><!-- row -->
                   
          </div>



        
        <div class="item animated fadeIn ">
       



     

                    <div class="row">
                       <div class="col-md-4 col-xs-12">
                        <div class="left-box">
                          <h2  class="h1">
Search & Discovery</h1>
                          <p>Connect with local businesses, view contact details, business images, one touch dialing,  directions  and more.</p>
                          
                        </div>
                    </div>

                    <div class="col-md-8 col-xs-12">
                      <div class="mobile-carousel">
                      <img src="https://www.444.lk/images/mobiel-frame.png"> 
                    
                        <div class="mobile-item"  data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>


                        <img  src='images/screens/business1.jpg'><img src='images/screens/business2.jpg'><img src='images/screens/business3.jpg'>
                        </div>

                      
                    
                    </div> 
                      <div class="left-side-content">
                          <h2 class="h1"> <strong> less</strong> missing out,  <strong>more</strong>  going out.
 </h2>
                                    <!--   <a class="btn btn-curve btn-lg btn-success" href="https://www.444.lk/search-business-fyi" role="button"> <p>View More </p> <span class="btn-icon"><i class="fa fa-play" aria-hidden="true"></i></span>
</a> -->

                        </div>

                    </div>

                    </div><!-- row -->
                   
          </div>



         
      
           </div><!-- carousel-item -->
</div>

</div>
<!-- End Carousel Inner -->


</div>      <div class="mobile-only home-banner-bottom-ops">


    
       <ul class="carousel-indicators nav-home-slider">
       
          <li data-slide-to="0" class="">
            <a href="javascript:void(0);"> 
              <h5 class="h3">  Book Your Bus </h5>
               <svg class="icon-set1 animated fadeIn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"  viewBox="0 0 552.506 552.506" style="enable-background:new 0 0 552.506 552.506;" xml:space="preserve">
<g>
  <path d="M103.918,334.136c-23.793,0-43.172,19.376-43.172,43.185s19.373,43.173,43.172,43.173   c23.817,0,43.172-19.364,43.172-43.173C147.09,353.524,127.742,334.136,103.918,334.136z M103.918,404.454   c-14.952,0-27.125-12.179-27.125-27.134c0-14.954,12.167-27.133,27.125-27.133c14.964,0,27.136,12.166,27.136,27.133   C131.054,392.275,118.888,404.454,103.918,404.454z M450.189,334.136c-23.809,0-43.178,19.376-43.178,43.185   s19.363,43.173,43.178,43.173s43.172-19.364,43.172-43.173C493.355,353.524,473.992,334.136,450.189,334.136z M450.189,404.454   c-14.961,0-27.139-12.179-27.139-27.134c0-14.954,12.166-27.133,27.139-27.133c14.949,0,27.127,12.166,27.127,27.133   C477.305,392.275,465.139,404.454,450.189,404.454z M536.461,320.776h16.033V177.858c0-25.325-20.521-45.846-45.84-45.846H45.842   C20.508,132.013,0,152.533,0,177.858v162.008c0,25.337,20.508,45.857,45.842,45.857h11.959c-0.292-2.137-0.487-4.293-0.487-6.503   c0-26.585,21.556-48.147,48.144-48.147c26.588,0,48.144,21.562,48.144,48.147c0,2.21-0.207,4.366-0.487,6.503h250.857   c-0.292-2.137-0.486-4.293-0.486-6.503c0-26.585,21.555-48.147,48.158-48.147c26.586,0,48.129,21.562,48.129,48.147   c0,2.21-0.194,4.366-0.486,6.503h53.219v-19.107h-16.039c-2.533,0-4.591-2.053-4.591-4.579v-36.682   C531.863,322.816,533.922,320.776,536.461,320.776z M305.664,155.706V265.74h-84.049V155.706H305.664z M89.401,265.74H72.586   c-38.584,0-37.811-22.914-37.811-25.441v-80.011c0-2.53,2.046-4.582,4.576-4.582h50.05h38.97V265.74H89.401z M132.957,265.74   V155.706h84.063V265.74H132.957z M402.725,265.74h-92.482V155.706h92.482V265.74z M443.596,261.151   c0,2.542-2.059,4.589-4.573,4.589h-32.011V155.706h32.011c2.515,0,4.573,2.052,4.573,4.582V261.151z M525.805,290.964   c0,0-20.6,1.869-42.983-3.27c-22.371-5.133-25.465-25.383-25.465-25.383v-83.385v-23.602h44.841   c13.031,0,23.602,10.568,23.602,23.602v112.037H525.805z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
            </a>
          </li>





          <li data-slide-to="1">
            <a href="https://www.444.lk/concerts"> 
              <h5 class="h3">  Book Your Events <small></small></h5>
           <svg class="icon-set1 animated fadeIn"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
<g>
  <path d="M57,4h-7V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H19V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H3   C2.447,4,2,4.447,2,5v11v43c0,0.553,0.447,1,1,1h54c0.553,0,1-0.447,1-1V16V5C58,4.447,57.553,4,57,4z M43,2h5v3v3h-5V5V2z M12,2h5   v3v3h-5V5V2z M4,6h6v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h22v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h6v9H4V6z    M4,58V17h52v41H4z" />
  <path d="M38,23h-7h-2h-7h-2h-9v9v2v7v2v9h9h2h7h2h7h2h9v-9v-2v-7v-2v-9h-9H38z M31,25h7v7h-7V25z M38,41h-7v-7h7V41z M22,34h7v7h-7   V34z M22,25h7v7h-7V25z M13,25h7v7h-7V25z M13,34h7v7h-7V34z M20,50h-7v-7h7V50z M29,50h-7v-7h7V50z M38,50h-7v-7h7V50z M47,50h-7   v-7h7V50z M47,41h-7v-7h7V41z M47,25v7h-7v-7H47z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
            </a>
          </li>
          <li data-slide-to="2">
             <a href="https://www.444.lk/movies"> 
             <!--<a href="javascript:void(0);"> -->
              <h5 class="h3"> Book Your Movie <small></small></h5>
             <svg version="1.1" class="icon-set1 animated fadeIn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
<g><path d="M974.5,587.8c-7.8-4.2-17.2-4.1-24.9,0.5l-167.7,77.4v-44c0-10.2-2.1-20-5.9-28.8c122.3-26.6,214-135.3,214-265.6c0-150.2-121.8-272-272-272c-116,0-214.8,72.8-253.9,175.1c-42.6-71.6-120.5-119.7-209.9-119.7C119.4,110.7,10,220,10,355c0,89.3,48,167.1,119.5,209.7c-16.9,13.6-27.9,34-27.9,57.1v248.9c0,40.8,33.8,74,75.3,74h529.7c41.5,0,75.3-33.2,75.3-74v-13.8l167.7,77.4c7.6,4.6,17.1,4.8,24.9,0.5c7.8-4.3,12.6-12.3,12.6-21.1V609C987.1,600.2,982.3,592.1,974.5,587.8z M250.9,547.7c-31.3-1.5-56.3-27.2-56.1-58.9c0.1-32.5,26.7-78.8,59.2-78.6c32.5,0.1,58.7,46.6,58.6,79.1c-0.1,31.6-25.2,57.1-56.4,58.4H250.9z M717.1,542.2c-36.2-0.1-65.5-29.7-65.3-65.9c0.1-36.2,29.7-87.7,66-87.5c36.2,0.2,65.4,51.8,65.3,88.1C782.9,513.1,753.4,542.3,717.1,542.2z M867.6,262.3c36.2,0.1,65.5,29.6,65.4,65.9c-0.2,36.2-29.7,65.5-65.9,65.3c-36.2-0.2-87.7-30-87.5-66.2C779.7,291.1,831.4,262.2,867.6,262.3z M718.9,112.4c36.2,0.1,65.5,29.6,65.3,65.9c-0.2,36.2-29.6,85.1-65.9,84.9c-36.2-0.2-65.5-49.2-65.4-85.5C653.2,141.5,682.7,112.2,718.9,112.4z M569,261c36.2,0.2,87.8,30,87.7,66.2c-0.2,36.3-52,65.1-88.2,65c-36.2-0.2-65.5-29.6-65.3-65.9C503.3,290.2,532.8,260.9,569,261z M559.2,547.7H404c31.6-24.6,57-56.7,73.5-93.8C497.1,491.2,525.3,523.2,559.2,547.7z M388.6,296.6c32.5,0.1,58.8,26.6,58.7,59.2c-0.1,32.5-26.7,58.8-59.2,58.7c-32.5-0.1-78.8-26.9-78.6-59.5C309.6,322.4,356.1,296.5,388.6,296.6z M255.1,161.9c32.5,0.1,58.8,26.6,58.7,59.2c-0.1,32.5-26.6,76.4-59.2,76.3c-32.5-0.1-58.8-44.2-58.7-76.8C196,188.1,222.5,161.8,255.1,161.9z M61.3,354.2c0.1-32.5,26.6-58.8,59.2-58.7c32.5,0.2,78.9,26.9,78.7,59.5c-0.1,32.6-46.7,58.5-79.3,58.4C87.4,413.2,61.1,386.7,61.3,354.2z"/></g>
</svg>
            </a>
          </li>
          <li data-slide-to="3">
            <a href="javascript:void(0);"> 
              <h5 class="h3">What’s Nearby <small></small></h5>
               <svg class="icon-set1 animated fadeIn" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
<g><path d="M500,990c-170.5,0-342.5-46.2-342.5-149.5c0-80.6,117.8-130.7,227.3-143l6-0.7L239.5,454.5c-4.9-8.7-9.5-18-13.5-27.4l-4-8.1l-0.6-3.2c-13.3-34.4-20-70.5-20-107.1C201.3,144,335.3,10,500,10s298.7,134,298.7,298.7c0,36.7-6.8,72.7-20.1,107.1l-2,5.2h0.2l-1.5,3.2c-4.4,10.3-9.2,20.1-14.4,29.5l-261,433.2l-61.8-101l-2.3,0.2c-100.1,8.6-164,36.2-180.8,51.6l-3,2.8l3,2.8c21.8,20.3,105.9,52.4,239,53.3l11.9,0l0,0c132.9-0.9,217.1-33,239.1-53.2l3.1-2.9l-3.2-2.8c-12.2-10.8-56.8-32.2-125.3-44.7l52.6-84.2c109.8,24.7,170.2,71.4,170.2,131.7C842.5,943.8,670.5,990,500,990z M500,147.6c-70.2,0-127.3,57.2-127.3,127.4c0,70.2,57.1,127.3,127.3,127.3c70.3,0,127.4-57.1,127.4-127.3C627.4,204.7,570.2,147.6,500,147.6z"/></g>
</svg>
            </a>
          </li>
          <li  data-slide-to="4">
            <a href="https://www.444.lk/find-business"> 
              <h5 class="h3"> Search & Discovery <small></small></h5>
              <svg class="icon-set1"  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
  <g>
    <g>
      <path d="M512,227.2v-24.533c0-0.382-0.021-0.758-0.062-1.131c-0.007-0.067-0.022-0.132-0.03-0.199
        c-0.038-0.308-0.084-0.614-0.149-0.913c-0.017-0.079-0.042-0.155-0.06-0.234c-0.068-0.286-0.143-0.567-0.234-0.844
        c-0.03-0.093-0.067-0.183-0.101-0.275c-0.092-0.255-0.188-0.507-0.298-0.752c-0.016-0.036-0.027-0.075-0.044-0.111
        L462.932,93.664V53.331c0-5.89-4.776-10.667-10.667-10.667H59.735c-5.891,0-10.667,4.777-10.667,10.667v40.334L0.976,198.208
        c-0.017,0.036-0.028,0.075-0.044,0.111c-0.111,0.245-0.206,0.497-0.298,0.752c-0.033,0.092-0.07,0.182-0.101,0.275
        c-0.091,0.276-0.164,0.558-0.233,0.844c-0.019,0.078-0.044,0.155-0.061,0.234c-0.065,0.299-0.111,0.605-0.149,0.913
        c-0.008,0.067-0.022,0.132-0.03,0.199C0.021,201.908,0,202.285,0,202.666V227.2c0,29.295,21.204,53.714,49.068,58.761v162.041
        H10.667C4.776,448.002,0,452.777,0,458.669c0,5.89,4.776,10.667,10.667,10.667h49.068h42.665h85.335h264.532h49.067
        c5.891,0,10.667-4.777,10.667-10.667c0-5.891-4.775-10.667-10.667-10.667h-38.4V285.961C490.796,280.914,512,256.495,512,227.2z
         M484.686,192h-73.365l-23.553-85.332h57.664L484.686,192z M315.688,201.689l-8.742-95.021h58.691L389.19,192h-39.967
        c-5.89,0-10.667,4.775-10.667,10.667s4.777,10.667,10.667,10.667h43.31V227.2c0,21.174-17.226,38.4-38.4,38.4
        s-38.4-17.226-38.4-38.4v-24.533C315.732,202.34,315.718,202.014,315.688,201.689z M70.401,63.998H441.6v21.335H70.401V63.998z
         M257.435,192h-38.811l7.851-85.332h59.048l8.877,96.488V227.2c0,21.174-17.227,38.4-38.401,38.4s-38.4-17.226-38.4-38.4v-13.867
        h39.837c5.891,0,10.667-4.775,10.667-10.667S263.326,192,257.435,192z M189.553,213.333h6.711V227.2
        c0,21.174-17.226,38.4-38.4,38.4s-38.4-17.226-38.4-38.4v-23.088l26.895-97.444h58.691L197.201,192h-7.648
        c-5.89,0-10.667,4.775-10.667,10.667S183.663,213.333,189.553,213.333z M21.333,227.2v-13.867h28.874
        c5.89,0,10.667-4.775,10.667-10.667S56.097,192,50.207,192H27.314l39.255-85.332h57.659l-25.712,93.16
        c-0.255,0.925-0.384,1.879-0.384,2.838V227.2c0,21.174-17.224,38.4-38.396,38.4C38.56,265.6,21.333,248.374,21.333,227.2z
         M177.067,378.667h-10.666c-5.891,0-10.667,4.777-10.667,10.667c0,5.891,4.776,10.667,10.667,10.667h10.666v48.001h-64.001
        V330.664h64.001V378.667z M441.6,448.002H198.401V319.997c0-5.89-4.777-10.667-10.667-10.667h-85.335
        c-5.891,0-10.667,4.777-10.667,10.667v128.005H70.401V285.961c15.848-2.87,29.535-12.006,38.396-24.751
        c10.798,15.531,28.76,25.724,49.067,25.724c20.307,0,38.269-10.194,49.067-25.725c10.798,15.532,28.76,25.725,49.067,25.725
        c20.307,0,38.27-10.194,49.068-25.725c10.798,15.532,28.76,25.725,49.067,25.725c20.307,0,38.269-10.194,49.067-25.725
        c8.862,12.746,22.55,21.883,38.4,24.752V448.002z M452.266,265.6c-21.174,0-38.4-17.226-38.4-38.4v-13.867h76.8V227.2
        C490.667,248.374,473.441,265.6,452.266,265.6z"/>
      <path d="M409.597,309.333H230.403c-5.89,0-10.667,4.777-10.667,10.667v96.001c0,5.89,4.776,10.664,10.667,10.664h179.194
        c5.89,0,10.667-4.776,10.667-10.667v-95.996c0-0.354-0.019-0.708-0.053-1.06c-0.015-0.146-0.043-0.286-0.063-0.43
        c-0.028-0.201-0.052-0.402-0.092-0.602c-0.033-0.17-0.08-0.334-0.122-0.499c-0.043-0.172-0.08-0.343-0.132-0.513
        c-0.049-0.163-0.111-0.322-0.169-0.482c-0.06-0.167-0.115-0.337-0.185-0.503c-0.062-0.148-0.133-0.29-0.202-0.435
        c-0.079-0.171-0.156-0.343-0.245-0.511c-0.073-0.137-0.156-0.266-0.236-0.398c-0.098-0.166-0.193-0.335-0.301-0.498
        c-0.096-0.142-0.202-0.275-0.304-0.413c-0.106-0.142-0.204-0.286-0.318-0.424c-0.19-0.232-0.393-0.45-0.601-0.665
        c-0.035-0.036-0.066-0.077-0.102-0.113c-0.034-0.034-0.071-0.063-0.108-0.097c-0.217-0.21-0.438-0.416-0.672-0.607
        c-0.133-0.109-0.273-0.204-0.41-0.306c-0.143-0.107-0.282-0.217-0.429-0.316c-0.157-0.106-0.321-0.196-0.481-0.291
        c-0.139-0.082-0.273-0.169-0.415-0.244c-0.162-0.087-0.331-0.161-0.497-0.24c-0.149-0.07-0.295-0.145-0.449-0.208
        c-0.161-0.067-0.326-0.121-0.49-0.179c-0.164-0.06-0.328-0.123-0.496-0.174c-0.163-0.049-0.331-0.085-0.495-0.127
        c-0.173-0.043-0.342-0.092-0.517-0.126c-0.191-0.037-0.382-0.061-0.573-0.087c-0.155-0.022-0.304-0.051-0.46-0.067
        C410.3,309.352,409.949,309.333,409.597,309.333z M241.069,405.332v-74.668h0.001h82.437l-4.582,4.582
        c-4.165,4.165-4.165,10.919,0,15.086c2.083,2.082,4.813,3.124,7.542,3.124c2.731,0,5.459-1.042,7.542-3.125l19.667-19.667h30.17
        l-74.666,74.668H241.069z M398.931,405.332H339.35l59.581-59.582V405.332z"/>
      <path d="M294.162,360.006l-4.643,4.643c-4.165,4.166-4.165,10.919,0.001,15.086c2.082,2.082,4.812,3.124,7.541,3.124
        s5.46-1.042,7.542-3.125l4.644-4.643c4.165-4.166,4.165-10.919-0.001-15.086C305.083,355.839,298.328,355.84,294.162,360.006z"/>
    </g>
  </g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
           
          </li>
       </ul>
       

             
      </div><!-- End Carousel Inner -->


</div>
<main>


<section class="new-business text-center padding-30">
      <div class="container">
        <h2 class="title-text h2 margin-b-50">Newly Added Businesses</h2>

        <ul class="five-box-row margin-b-50">

                       <li>
                 <a href="https://www.444.lk/ruwan-sound-box"><img src="https://api.fyi.lk/public/business/55735/r3.jpg" alt=""></a>
              <a href="https://www.444.lk/ruwan-sound-box"><h4>Ruwan Sound Box</h4></a>
              <small>Motors,Electronics</small>
            </li>

                         <li>
                 <a href="https://www.444.lk/bellezze-salon"><img src="https://api.fyi.lk/public/business/55733/b6.jpg" alt=""></a>
              <a href="https://www.444.lk/bellezze-salon"><h4>Bellezze Salon</h4></a>
              <small>Salon & Spas</small>
            </li>

                         <li>
                 <a href="https://www.444.lk/j.b-jewellary-pvt-ltd."><img src="https://api.fyi.lk/public/business/55732/necklace.jpg" alt=""></a>
              <a href="https://www.444.lk/j.b-jewellary-pvt-ltd."><h4>J.B Jewellary (Pvt) Ltd.</h4></a>
              <small>Jewellery</small>
            </li>

                         <li>
                 <a href="https://www.444.lk/ahrchana-jewellers"><img src="https://api.fyi.lk/public/business/55731/bangle-2.jpg" alt=""></a>
              <a href="https://www.444.lk/ahrchana-jewellers"><h4>Ahrchana Jewellers</h4></a>
              <small>Jewellery</small>
            </li>

                         <li>
                 <a href="https://www.444.lk/horizon-opticians"><img src="https://api.fyi.lk/public/business/55729/3.jpg" alt=""></a>
              <a href="https://www.444.lk/horizon-opticians"><h4>Horizon Opticians</h4></a>
              <small>Professional Services</small>
            </li>

                    </ul>
      </div>
    </section>
<section class="new-business text-center padding-30">
      <div class="container">
        <h2 class="title-text h2 no-padding-mobile margin-b-50"><!-- Most Populer Businesses -->Newly Added Events</h2>

        <ul class="five-box-row margin-b-50">

                       <li>
              <img src="https://platform.fyi.lk/images/tournaments/medium/profile6.jpg">



              <a href="https://www.444.lk/concerts/glass-ice-3.0-60"><h4>Glass Ice 3.0</h4></a>
              <small>2017-11-16</small>
            </li>

                         <li>
              <img src="https://platform.fyi.lk/images/tournaments/medium/profil-pic4.jpg">



              <a href="https://www.444.lk/concerts/jennifer-lopez-live-in-dubai-27"><h4>Jennifer Lopez Live in Dubai</h4></a>
              <small>2017-11-17</small>
            </li>

                         <li>
              <img src="https://platform.fyi.lk/images/tournaments/medium/profile---new-one.jpg">



              <a href="https://www.444.lk/concerts/we-are-56"><h4>WE ARE</h4></a>
              <small>2017-11-25</small>
            </li>

                         <li>
              <img src="https://platform.fyi.lk/images/tournaments/medium/profile-321.jpg">



              <a href="https://www.444.lk/concerts/designer-wedding-show-2017-59"><h4>Designer Wedding Show 2017</h4></a>
              <small>2017-11-28</small>
            </li>

                         <li>
              <img src="https://platform.fyi.lk/images/tournaments/medium/chain-profile17.jpg">



              <a href="https://www.444.lk/concerts/elton-john-in-dubai-44"><h4>Elton John in Dubai</h4></a>
              <small>2017-12-08</small>
            </li>

                    </ul>
      </div>
    </section>
<section class="new-business movies-home text-center padding-30">
      <div class="container">
        <h2 class="title-text h2 no-padding-mobile margin-b-50">
          NEWLY ADDED MOVIES</h2>

        <ul class="five-box-row margin-b-50">

                       <li>
                 <a href="https://www.444.lk/movies/justice-league-2036"><img src="https://www.scopecinemas.com/images/movie/justise900x1200.jpg"></a>
              <a href="https://www.444.lk/movies/justice-league-2036"><h4>Justice League</h4></a>
                             <ul>
                                        <li>Action  /  </li>
                                        <li> Adventure  /  </li>
                                        <li> Fantasy   </li>
                                    </ul>
            </li>
                         <li>
                 <a href="https://www.444.lk/movies/victoria-and-abdul-2037"><img src="https://www.scopecinemas.com/images/movie/abdul900x1200.jpg"></a>
              <a href="https://www.444.lk/movies/victoria-and-abdul-2037"><h4>Victoria And Abdul</h4></a>
                             <ul>
                                        <li>Biographical  /  </li>
                                        <li> Historical period drama   </li>
                                    </ul>
            </li>
                         <li>
                 <a href="https://www.444.lk/movies/geostorm-2038"><img src="https://www.scopecinemas.com/images/movie/Geostrom_900x1200.jpg"></a>
              <a href="https://www.444.lk/movies/geostorm-2038"><h4>Geostorm</h4></a>
                             <ul>
                                        <li>Action  /  </li>
                                        <li> Adventure  /  </li>
                                        <li> Thriller   </li>
                                    </ul>
            </li>
                         <li>
                 <a href="https://www.444.lk/movies/thor-ragnarok-2039"><img src="https://www.scopecinemas.com/images/movie/thor900x1200.jpg"></a>
              <a href="https://www.444.lk/movies/thor-ragnarok-2039"><h4>Thor: Ragnarok</h4></a>
                             <ul>
                                        <li>Action  /  </li>
                                        <li> Adventure  /  </li>
                                        <li> Comedy   </li>
                                    </ul>
            </li>
                         <li>
                 <a href="https://www.444.lk/movies/ittefaq-2040"><img src="https://www.scopecinemas.com/images/movie/it900x1200.jpg"></a>
              <a href="https://www.444.lk/movies/ittefaq-2040"><h4>Ittefaq</h4></a>
                             <ul>
                                        <li>Mystery  /  </li>
                                        <li> Thriller   </li>
                                    </ul>
            </li>
                    </ul>
      </div>
    </section>

      <section class="register">
      <img class="icon" src="https://www.444.lk/images/register-icon.png">
        <h2 class="h1">Register Your Business Today !</h2>

        <div class="pos-relative input form-group">
          <input type="text" class="form-control  form-control-warning" placeholder="Your Business Name" id="business_name">
          <input class="btn submit" type="submit" id="sub_business" name="" value="Submit">
        </div>
            <p><!-- Special Offer - Register your business only for 1500 LKR per month< -->Don't lose business, customers & money because you are not where <br>people are searching. We can take care of that</p>
      </section>


      <script type="text/javascript">
      	
      	$('#sub_business').click(function(e){	
      		 var bla = $('#business_name').val();
      		 //alert(bla);
      		 location.href = "https://www.444.lk/add-your-business-to-fyi?business_name=" + bla;
      	});


      </script><section class="download-app-bottom wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
      
      <div class="down-content">
                <ul class="download-icons">
          <li class="wow bounce"><a href="https://itunes.apple.com/lk/app/fyi-sri-lanka/id664573067?mt=8" target="_blank"><img src="https://www.444.lk/images/down-apple.png"></a></li>
          <li class="wow bounce"><a href="https://play.google.com/store/apps/details?id=com.mostcloud.layoutindex" target="_blank"><img src="https://www.444.lk/images/down-google.png"></a></li>
        </ul>
      </div>
      </div>
      <div class="col-sm-6 animatedParent">
      <div class="phone-img wow animated rotated">
        <img src="https://www.444.lk/images/download-phone.png">
      </div>
        <div class="content-box">
          <h2 class="h1 wow fadeIn"> The Seat<br> You Buy <br> Is The Seat<br> You Get </h2>
          <p class="wow fadeIn">Other sites may offer a money back guarantee or "comparable" seats if something goes wrong. But with us tickets sold to you are 100% verified and issued in your name so they can't be counterfeited. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style type="text/css">

.rotated {
     -webkit-transition: all 1s; /* Safari */
     transition: all 1s;
}

.rotated.go {
    -webkit-transform: rotateY(-15deg) rotateX(0deg) rotateZ(8deg);
    transform: rotateY(-15deg) rotateX(0deg) rotateZ(8deg);
}

</style>

      <section class="padding-50 main-sponsor">
        <div class="container">
          <h2 class="title-text h1 margin-b-30">Powered by</h2>
          <div class="main-s-logo"><img src="https://www.444.lk/images/main-partner.png"></div>
          <h4 class="title-text h2 padding-50">Official Partners</h4>
          <ul class="other-partners">
            <li><img class="other-s-logo" src="https://www.444.lk/images/co-partner3.png"></li>
            <li><img class="other-s-logo" src="https://www.444.lk/images/co-partner2.png"></li>
            <li><img class="other-s-logo" src="https://www.444.lk/images/co-partner4.png"></li>
            <li><img class="other-s-logo" src="https://www.444.lk/images/444.png"></li>

          </ul>
        
        </div>
        </section>

    </main>




<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="foot-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="https://www.444.lk/sign-up">Register</a></li>
                            <li><a href="https://www.444.lk/find-business">Find Business</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="foot-nav">
                            <li><a href="https://www.444.lk/concerts">Events</a></li>
                            <li><a href="https://www.444.lk/terms-and-conditions">Terms & Condition</a></li>
                            <li><a href="https://www.444.lk/about-444-sri-lanka">About 444 </a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="foot-nav">
                            <li><a href="https://www.444.lk/add-your-business-to-444">Add your business to 444</a></li>                            
                            <li><a href="https://www.444.lk/contact-us">Contact us</a></li>
                            <li><a data-toggle="modal" href="https://www.444.lk/login">Login</a></li>                            	
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="pos-relative input form-group margin-b-40">
                    <input type="text" id="business_name" class="form-control  form-control-warning" placeholder="Your Business Name" id="inputWarning1">
                    <input class="btn submit" type="submit" id="sub_business" name="" value="Submit">
                </div>

                <ul class="social">
                    <li><a target="_blank" href="https://www.facebook.com/fyi.lk/"><i class="fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://plus.google.com/113315655508789321871"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/fyisrilanka?s=09"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCOXzji2Tfk9RJXXK7ZgBaNA/videos?view_as=subscriber"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/444.lk/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>

                <ul class="certify-logos">
                    <li><a><img src="https://www.444.lk/images/ssl.png"></a></li>
                    <li><a><img src="https://www.444.lk/images/dialog.png"></a></li>
                    <li><a class="google-street"><img src="https://www.444.lk//images/google-street-view.png"></a></li>

                </ul>

            </div>
        </div>
    </div>
</footer>
<div class="bottom-footer">
    <div class="container-fluid">
        <p class="pull-left">© 2017 444 All Rights reserved.</p>
    <p class="pull-right">Solution by <a href="https://www.layoutindex.com/services/creative-web-design-sri-lanka" target="_blank" class="layout-logo"><!-- <img src="images/layout-logo.png"> -->LAYOUTindex</a></p>


    </div>

</div>



<script type="text/javascript" src="https://www.444.lk/js/jquery.uploadPreview.min.js"></script>
<script type="text/javascript" src="https://www.444.lk/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://www.444.lk/js/wow.min.js"></script>
<script src="https://www.444.lk/js/menu.js"></script>
<script type="text/javascript" src="https://www.444.lk/js/jssocials.min.js"></script>
<script type="text/javascript" src="https://www.444.lk/js/slick.js"></script> 
<script type="text/javascript" src="https://www.444.lk/js/moment.js"></script>     
<script type="text/javascript" src="https://www.444.lk/js/bootstrap-datetimepicker.js"></script> 
<script type="text/javascript" src="https://www.444.lk/js/css3-animate-it.js"></script>
<script type="text/javascript" src="https://www.444.lk/js/plugin.min.js"></script>
<script type="text/javascript" src="https://www.444.lk/js/front_main.js"></script>
<script type="text/javascript" src="https://www.444.lk/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker3').datetimepicker({
            format: 'LT'
        });
        $('#datetimepicker4').datetimepicker({
            format: 'LT'
        });
    });
</script>
</body>
</html>



<script type="text/javascript">
        jQuery(function () {

        if ($(window).width() < 768) {
             jQuery('#camera_wrap_1').camera({
            thumbnails: false,
            pagination: false,
            playPause: false,
            pauseOnClick: false,
            navigation: false,
            hover: false,
            time: 5000,
            transPeriod: 3500,
            fx: 'simpleFade',
            height: '85%',
            navigationHover: false,
            overlayer: false,
            autoAdvance: false
    
        });
        }
        else {
             jQuery('#camera_wrap_1').camera({
            thumbnails: false,
            pagination: false,
            playPause: true,
            pauseOnClick: false,
            navigation: true,
            hover: false,
            time: 5000,
            transPeriod: 1500,
            fx: 'simpleFade',
            height: '65%',
            navigationHover: false,
            overlayer: false
        });
        }
      
    });

</script> 

<script type="text/javascript">
  new WOW().init();
    $('#sub_business').click(function (e) {
        var bla = $('#business_name').val();
        location.href = "https://www.444.lk/add-your-business-to-444?business_name=" + bla;
    });

</script>

<!-- /ko -->
